<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mandraski.helloworldandroid2">

    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListaActivity"
            android:label="@string/title_activity_lista"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".prova.ProvaActivity"
            android:label="@string/title_activity_prova"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".prova.HistoricoActivity"
            android:label="@string/title_activity_historico"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".prova.AlunoActivity"
            android:label="@string/title_activity_aluno"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lista1.Pratica1Activity"
            android:label="@string/title_activity_pratica1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lista1.Exercicio1P1Activity"
            android:label="@string/title_activity_exercicio1_p1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lista1.Exercicio2P1Activity"
            android:label="@string/title_activity_exercicio2_p1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lista1.Exercicio3P1Activity"
            android:label="@string/title_activity_exercicio3_p1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lista1.Exercicio4P1Activity"
            android:label="@string/title_activity_exercicio4_p1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lista1.Exercicio5P1Activity"
            android:label="@string/title_activity_exercicio5_p1"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lista2.Pratica2Activity"
            android:label="@string/title_activity_pratica2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lista2.Exercicio1P2Activity"
            android:label="@string/title_activity_exercicio1_p2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lista2.Exercicio1P2Tela2Activity"
            android:label="@string/title_activity_exercicio1_p2_tela2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lista2.Exercicio2P2Activity"
            android:label="@string/title_activity_exercicio2_p2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lista2.Exercicio2P2Tela2Activity"
            android:label="@string/title_activity_exercicio2_p2_tela2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lista2.Exercicio3P2Activity"
            android:label="@string/title_activity_exercicio3_p2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lista2.Exercicio3P2Tela2Activity"
            android:label="@string/title_activity_exercicio3_p2_tela2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".lista3.Pratica3Activity"
            android:label="@string/title_activity_pratica3"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".exercicio.sqlActivity"
            android:label="@string/title_activity_sql"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>